/*grid css*/
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas: 
    "title title title title title"
    "header header header header header"
    "sidebar sidebar sidebar sidebar sidebar"
    "content content content content content"
    "footer footer footer footer footer";
    grid-gap: 10px;
}

.title{
    grid-area: title;
    /*background-color: red;*/
    /*width: 100%;*/
}
.header{
    grid-area: header;
    /*background-color: blue;*/
}
.sidebar{
    grid-area: sidebar;
    /*display: inline-block;
    width: 300px;
    height: 400px;
    position: relative;*/
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a a a a";
    grid-gap: 10px;*/
}
.sidebar p{
    
    display: inline-block;
    width: 300px;
    height: 100px;
    position: relative;
}
.content{
    grid-area: content;
    /*justify-self: center;
    align-self: center; */
}
.footer{
    grid-area: footer;
}

/*.grid div:nth-child(even){
    background-color: red;
}
.grid div:nth-child(odd){
    background-color: green;
}*/

/*@media screen and (min-width: 736px){
    .grid{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
}
}*/