/*body{
    margin: 0px 120px 0px 120px;
}*/
body{
    background-color: #d4f0fc!important;
}


/*navigation bar css*/
/*.fixed-top{
        margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}*/
/*abou index css*/
.rounded-circle {
    margin-bottom: 20px;
}
.align{
    display: inline-block;
    position: relative;
}