{% extends "base.html" %}
 
{% block content %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.6.1/aframe-master.js"></script>
</head>


        <button class="btn btn-success" onclick="location.href='/about'"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back To About</button>
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <h1>{{ abou.title }}</h1>
                
                    
                <a-scene>
      <a-sky src="{{MEDIA_URL}}{{ abou.vr_image}}" rotation="0 275 0"></a-sky>

      {% comment %}<a-text font="kelsonsans" value="Guinness Lake" width="6" position="0 0.3 -2"
              rotation="-3 -50 0"></a-text>{% endcomment %}
    </a-scene>
                <div class="t">
                <p>{{ abou.content|linebreaks }}</p>
                <p>{{ abou.published_date }} | <strong>Views</strong> {{ abou.views }} | <strong>Tag</strong> {{ abou.tag }}</p>
                </div>
                <button class="btn btn-success" onclick="location.href='/about'"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back To About</button>
                <button class="btn btn-danger" onclick="location.href='edit'">Edit</button>
        
                   
            </div>
        </div>
</div>
{% comment %}{% load disqus_tags %}
{% set_disqus_title post.title %}
{% disqus_show_comments %}{% endcomment %}

{% endblock %}