{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<h1>this is about page</h1>


{% for abou in about %}

<div id="{{ abou.id }}">
  <div class="dialog">
<div class="col-sm-6 col-md-6 col-lg-6">
        <h1 class="-t">{{ abou.title }}</h1>
      </div>
      <div class="-b">
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    
                           
                            <img src="{{ MEDIA_URL }}{{ abou.vr_image }}">
    
  </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h6>{{ abou.content|truncatewords:10 }}</h6>
      <h2>{{ abou.tag }}</h2>
      <img height="100" width="100" src="{{ MEDIA_URL }}{{ abou.thumbnail_image }}">

    </div>
</div>
<button class="btn btn-default" type="submit">Add to cart</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}





{% endblock %}