{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Virtual Ireland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ignas Grigaravicius">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/balloon.css' %}">
    {% comment %}<link rel="stylesheet" href="{% static 'css/fontawesome-pro-brands.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-pro-core.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-pro-light.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-pro-regular.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-pro-svg-framework.css' %}">{% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css">
    <link rel="shortcut icon" href="{% static 'media/images/favicon.png' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.js"></script>
    


    {% block head_js %}{% endblock %}
</head>
<body id="back" background="{% static 'images/back.jpg'%}">

{% include 'navbar.html' %}

{%block content%}

{%endblock content%}
<script src="{% static 'js/style.js' %}"></script>
<script src="{% static 'js/everything.js' %}"></script>
<script src="{% static 'js/everything.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
</body>
</html>